/Autoupdater/GUI/i18n — копия.json
game_info.xml
game_info.xml.bak
Licenses.txt
paths.xml
python.log
version.xml
wgc_api.exe
WorldOfTanks.exe
WorldOfTanks.ico
game_metadata
replays
screenshots
updates
app_type.xml
cef.log
*.pyc
